<div class="mainbody">
    <table style="padding-left: 10%;padding-top: 3%; padding-bottom: 3%;width: 100%;">
      <tr>
        <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;">2015-PRESENT</td>
        <td>
            <table>
                <tr>
                  <td style="text-align:left;font-size: 20px;color: rgb(89, 142, 241)">Bachelor Of Technology In Computer Science</td>
                </tr>
                
                <tr>
                  <td style="text-align:left;font-size: 20px;color: black;font-weight: bold;">National Institute of Technology Warangal</td>
                </tr>
                <tr>
                  <td style="text-align:left;font-size: 20px;color: black;font-weight: bold;">-C.G.P.A: 7.3</td>
                </tr>
              </table>
        </td>
      </tr>
      <br>
      <br>
      <br>
      <tr>
        <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;">2015</td>
        <td>
          <table>
            <tr>
              <td style="text-align:left;font-size: 20px;color: rgb(89, 142, 241)">Intermediate</td>
            </tr>
            <tr>
              <td style="text-align:left;font-size: 20px;color: black;font-weight: bold;">Secured 94%</td>
            </tr>
          </table>
          </td>
      </tr>
      <br>
      <br>
      <br>
      <tr>
        <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;">2011-2012</td>
        <td>
            <table>
                <tr>
                  <td style="text-align:left;font-size: 20px;color: rgb(89, 142, 241)">All India Secondary School Examination (10th Grade)</td>
                </tr>
                
                <tr>
                  <td style="text-align:left;font-size: 20px;color: black;font-weight: bold;">St. Joseph Convent High School ROBERTSGANJ</td>
                </tr>
                <tr>
                  <td style="text-align:left;font-size: 20px;color: black;font-weight: bold;">-C.G.P.A: 9.8</td>
                </tr>
              </table>
        </td>
      </tr>
    </table>
  </div>