  <div class="mainbody">
    <table style="padding-left: 10%;padding-top: 3%; padding-bottom: 3%;">
      <tr>
        <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;">PERSONAL INFORMATION</td>
        <td style="padding-left:10%">
            <table>
                <tr>
                <th colspan="2" style="text-align:left;font-size: 25px;">Mojammil</th>
                </tr>
                <br>
                <tr>
                  <td style="color: rgb(54, 116, 230);font-size: 20px"><i class="fa fa-map-marker" aria-hidden="true"> </i> </td>
                  <td style="font-size:20px;padding-left: 10%;font-weight: bold;">Purab Mohal, Near nai masjid, Sonebhadra (UP), 231216, (India)</td>
                </tr>
                <br>
                <tr>
                  <td style="color: rgb(54, 116, 230);font-size: 20px"><i class="fas fa-mobile-alt"> </i> </td>
                  <td style="font-size:20px;padding-left: 10%;font-weight: bold">+91-9515536837</td>
                </tr>
                <br>
                <tr>
                  <td style="color: rgb(54, 116, 230);font-size: 20px"><i class="fa fa-envelope" aria-hidden="true"> </i> </td>
                  <td style="text-align: left;padding-left: 10%;font-size: 20px;font-weight: bold;">kmojammil@student.nitw.ac.in</td>
                </tr>
                <br>
                <tr>
                  <td style="color: rgb(54, 116, 230);font-size: 20px"><i class="fa fa-male" aria-hidden="true"></i> </td>
                  <td style="font-size:20px;padding-left: 10%;font-weight: bold">Male</td>
                </tr>
                <br>
                <tr>
                  <td style="color: rgb(54, 116, 230);font-size: 20px"><i class="fa fa-birthday-cake" aria-hidden="true"></i> </td>
                  <td style="font-size:20px;padding-left: 10%;font-weight: bold">07/01/1995</td>
                </tr>
                <br>
                <tr>
                  <td style="color: rgb(54, 116, 230);font-size: 20px"><i class="fa fa-flag" aria-hidden="true"></i> </td>
                  <td style="font-size:20px;padding-left: 10%;font-weight: bold">Indian</td>
                </tr> 
              </table>
        </td>
      </tr>
      <br>
      <br>
      <br>
      <tr>
          <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;width: 50%;">CAREER OBJECTIVE</td>
          <td style="padding-left:10%;">
          <table>
            <tr>
              <td style="font-size:20px;padding-right: 10%;">
              <p>Seeking a position to utilize my skills and abilities in the Software Companies that offers professional growth while being resourceful, innovative and flexible so that I can achieve own and organizational objective.</p>
              </td>
            </tr>
          </table>
          </td>
      </tr>
    </table>
  </div>