<div class="mainbody">
  <p style="padding-left: 10%;color: rgb(10, 65, 167);font-size: 25px;font-weight: bolder">Work Experience</p>  
  <table style="padding-left: 10%;padding-bottom: 3%;width: 100%;">
      <tr>
        <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;width: 40%;">May 2018- July 2018</td>
        <td style="padding-right: 10%">
            <table>
                <tr>
                  <td style="text-align:left;font-size: 20px;color: rgb(89, 142, 241)">2 Months Summer intern at VISA INC. Bangalore.</td>
                </tr>
                
                <tr>
                  <td style="text-align:left;font-size: 20px;color: black;">Developed an application named Test Analytics and Reporting tool.
                      Which involved technical learnings of different tools like Angular,
                      Nodejs, Jenkins, bitbucket, API call etc. The application also used ng
                      tools of angular to represent data in graphical and more meaningful
                      form.</td>
                </tr>
              </table>
        </td>
      </tr>
      <br>
      <br>
      <br>
    </table>
    <div style="padding-left: 25%"><embed src="../../assets/Visa.pdf" width="670px" height="970px" /></div>
  </div>