<div class="mainbody">
    <p style="padding-left: 10%;color: rgb(10, 65, 167);font-size: 20px;font-weight: bolder">PERSONAL SKILLS</p>  
    <table style="padding-left: 10%;padding-bottom: 3%;width: 100%;">
        <tr>
          <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;width: 30%;"></td>
          <td style="padding-right: 10%">
          </td>
          <td>
            <table>
              <tr>
                <td style="text-align:left;font-size: 20px;color: black;">
                  <div id="list">
                    <ul class="TickList">
                      <li>Hard working, efficient, proficient.</li><br>
                      <li>Reliable and responsible work ethic.</li><br>
                      <li>Comprehensive problem-solving abilities.</li><br>
                      <li>Willingness to learn new things.</li><br>
                      <li>Analyse and adapts to new technology and change for the better
                          growth of organisation.</li><br>
                    </ul>
                    </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <br>
        
      </table>
    </div>