
<div class="container">
  <h1 style="text-align: center; color: white">{{title}}</h1>
</div>
<div class="container">
    <table style="padding-left: 10%;width:90%">
        <tr style="color:white">
          <td><a routerLink="" routerLinkActive="active">About</a></td>
          <td><a routerLink="/education"  routerLinkActive="active">Education</a></td>
          <td><a routerLink="/Work" routerLinkActive="active">Work Experience</a></td>
          <td><a routerLink="/Projects" routerLinkActive="active">Projects</a></td>
          <td><a routerLink="/Technical" routerLinkActive="active">Technical-Skills</a></td>
          <td><a routerLink="/Skills" routerLinkActive="active">Personal Skills</a></td>
          <td><a routerLink="/Awards" routerLinkActive="active">Awards and Honours</a></td>
        </tr>
      </table>
</div>
<table style="padding-left:75%;">
    <tr>
      <th colspan="2"><h1 style="text-align:left;color:black;font-family:'Times New Roman', Times, serif">Mojammil</h1></th>
    </tr>
    <tr>
      <td style="color: rgb(54, 116, 230);font-size: 30px"><i class="fas fa-mobile-alt"> </i> </td>
      <td style="text-align: left;padding-left: 10%;font-family:'Times New Roman', Times, serif;font-style: oblique;font-size: 20px;font-weight: bold;">+91-9515536837</td>
    </tr>
    <tr>
      <td style="color: rgb(54, 116, 230);font-size: 30px"><i class="fa fa-envelope" aria-hidden="true"> </i> </td>
      <td style="text-align: left;padding-left: 10%;font-family: Verdana, Geneva, Tahoma, sans-serif;font-style: oblique;font-size: 15px;font-weight: bold;">kmojammil@student.nitw.ac.in</td>
    </tr>
  </table>
  <br>
  <br>
<router-outlet></router-outlet>



 