<div class="mainbody">
    <p style="padding-left: 10%;color: rgb(10, 65, 167);font-size: 20px;font-weight: bolder">Technical skills & Languages</p>  
    <table style="padding-left: 10%;padding-bottom: 3%;width: 100%;">
        <tr>
          <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;width: 30%;"></td>
          <td style="padding-right: 10%">
          </td>
          <td>
            <table>
              <tr>
                <td style="text-align:left;font-size: 20px;color: black;">
                  <div id="list">
                    <ul class="TickList">
                      <li>C, C++, Java, SQL, JavaScript, Basic System Programming, Operating System,
                          Computer Networking, Angular, Nodejs.</li><br>
                      
                    </ul>
                    </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <br>
        
      </table>
    </div>