<div class="mainbody">
    <p style="padding-left: 10%;color: rgb(10, 65, 167);font-size: 20px;font-weight: bolder">HONOURS AND AWARDS</p>  
    <table style="padding-left: 10%;padding-bottom: 3%;width: 100%;">
        <tr>
          <td colspan="5" style="color: rgb(10, 65, 167);font-size: 20px;vertical-align: top;font-weight: bolder;width: 30%;"></td>
          <td style="padding-right: 10%">
          </td>
          <td>
            <table>
              <tr>
                <td style="text-align:left;font-size: 20px;color: black;">
                    <ul class="TickList">
                      <li>Participated in NPL conducted by NITW during Technozion-2015,
                          got certificates and goodies by organizer.</li><br>
                      <li>Participated in 24-hour Hackathon (2016), worked on one of
                          the project in Django environment.</li><br>
                      <li>Participated Code.Fun.Do conducted by Microsoft in 2016.</li><br>
                      <li>Appreciated by Shree Akhilesh Yadav (Ex CM, Uttar Pradesh) for
                          being the district topper in IIT JEE and Intermediate.</li><br>
                      <li>Appreciated by (IAS Officer of Sonebhadra in 2015) for excellent
                          performance in JEE 2015.</li><br>
                      <li>Secured 94.0 % in 12th grade and Secured AIR 919 in IIT JEE MAINS
                          in 2015, awarded merit certificate and trophy by CM of Uttar
                          Pradesh.</li><br>
                      <li>Secured AIR 5897 in JEE Advance 2015, and AIR 195 in UP
                          Engineering exam 2015.</li><br>
                      <li>Designed Logo for Network Processing team of VISA Inc. during
                          internship and got selected in top 8 design globally.</li><br>    
                    </ul>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <br>
        
      </table>
    </div>